<div>
    <a href="">ToggleFlow</a>
    <button @onclick="ToggleNavMenu">
        <span></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul>
        <li>
            <NavLink href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li>
            <NavLink href="counter">
                <span aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li>
            <NavLink href="fetchdata">
                <span aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}